header{
    background-color: rgb(7, 7, 7);
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 60;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

header > nav > a{
    background-color: #23654A ;
    color: #FEE615;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
}

header > nav > a:nth-child(4){
    background-color: #13A34A;
}

@media screen and (max-width:500px){
    header > nav > a{
        font-size: 12px
    }
}

